body {
    background: linear-gradient(to bottom, #92DCE5, #517A7F);
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    /* Elimina 'flex-direction: column' ya que el marcador no es un elemento hijo directo del body */
}

#contenidor-principal {
    background-color: #F8F7F9;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
    margin-top: 5%;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    min-height: 90vh;
}

#questionari, #marcador {
    /* Aquí definiremos los estilos comunes */
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#questionari {
    flex-grow: 1;
}

#marcador {
    position: fixed;
    top: 25%; /* Ajusta esta propiedad si quieres que esté más arriba o más abajo */
    right: 5%; /* Ajusta la separación del lado derecho de la pantalla */
    width: 30%;
    /* Asegura que el marcador esté en la parte superior de otros elementos */
    z-index: 100;
}