body {
    background: linear-gradient(to bottom, #92DCE5, #517A7F); /*li fiquem un degradat al fons*/
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

#contenidor-principal{
    background-color: #F8F7F9;
    border-top-left-radius: 30px; 
    border-top-right-radius: 30px; 
    width: 100%;
    min-height: 90vh;
    position: absolute;
    bottom: 0;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
}

#questionari, #marcador{
    display:inline-block;
    height: auto;
    border: solid #e0e0e0 1px;
    padding: 2rem;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 3px 3px 8px #b3b3b3;
}

#questionari{
    width: 70%;
    margin-right: 2rem;
}
#marcador{
    text-align: center;
    right: 0;
    flex-grow: 1;
}