body {
    background: linear-gradient(to right, #92DCE5, #6290BE);
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    /* Utilitzem Flexbox per alinear el contenidor principal */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#contenidor-principal {
    background-color: #F8F7F9;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;

    flex-grow: 1; 

    margin-top: 5%;

    /* No cal un height fix, s'adapta amb Flexbox */
    padding: 2rem;
    box-sizing: border-box;
    /* Flexbox per als elements interns */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    /* Aquesta alçada mínima assegura que es vegi gran */
    min-height: 90vh;
}


#questionari, #marcador, #admin{
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
#admin{
    display: none;
}

#questionari, #admin {
    flex-grow: 1;
}

#marcador {
    width: 30%;
}
#editarPregunta{
    display: none;
}

.btn-finalitzar{
    background: linear-gradient(to right, #F71735, #8B1122);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}


.btn-resposta, .seleccionada{
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-resposta{
    background-color: #F5FFD4;
}
.btn-resposta:focus{
    background-color: #8AD5DE;
}
.seleccionada{
    background-color: #8AD5DE;
}
.btn-resposta{
    background-color: #F5FFD4;
}